# Learning_to_Program_in_Python1_Data_types_operators_I-O

### Programming in Python

You write the instructions, and then the computer translates these instructions into binary machine code 
which the computer can execute.

It will do this using a translator program which could be  either a compiler or an interpreter.
Python uses elements of both an interpreter and a compile.

Python comes with an IDLE (integrated development environment)

IDLE : enter program, save it, edit it, translate it to machine code and run it

If you have written  a statment wrongly, that will be reported by the interpreter as a syntax error, correct it and try again.

Python has two modes:    1) interactive mode       2)script mode

in the Python Shell window:

In [1]:
print("Hello World!")

Hello World!

## Data types

### String data type

"Hello World!" - string data type

If there is a quotation:

In [2]:
print("He said 'Hello!'")

He said 'Hello!'

The symbol + is used to concatenate or join together two or more string

In [3]:
"John" + " " + "Riddell"

'John Riddell'

Numbers enclosed in quotes or input as string behave as strings

In [4]:
"7" + "3"

'73'

### Numeric data types and operators

A number can be              

integer    - int       

or 

floating  point   - float

%   mod   -

returns the remainder when one integer is divided by another

//   div -


performs integer division, discarding any remainder without rounding

Note that the result of the dividing two numbers, whether are integer or floating point, always results in a floating point answer

In [15]:
3 + 5 * 2

13

In [7]:
(3 + 5) * 2

16

In [8]:
4 ** 3

64

In [9]:
12 / 4

3.0

In [10]:
13 / 4

3.25

In [11]:
4.53 + 7.82

12.350000000000001

In [12]:
17 // 6

2

In [13]:
17 % 6

5

## Rounding a result

To print an answer to a given number of decimal places, use the round() function

In [1]:
result = 4.53 + 7.82
rounded_result = round(result, 2)
rounded_result

12.35

### Relational and logical operators

Boolean data type:  True ,  False

Relational operators:    >   ,  <   ,  ==    , !=

logical operators:  and   ,   or    , not

less than    <

greater than  >

less than or equal  <=

greater than or equal   >=

equal     ==

not equal    !=

logical and   :              add

lodical  or   :             or

lodical not   :             not

In [2]:
18 == 6 * 3

True

In [3]:
18 == 6/3

False

In [4]:
(5 > 2)  and (7 > 6)

True

In [5]:
(6 < 8) or (7 < 5)

True

## Naming objects

Objects in Python   ----  strings, integers, floating point numbers

very often we need to name objects so that we can refer to them later

the names are called identifiers or variable names

Names are assigned to object using assignment statements

A valid name or identifier can contain only letters, numbers and the underscore character and can not start with a number

An assignment statement has the variable name on the left-hand side of an  = sign

and the value to be assigned on the right -hand side

In [6]:
length = 4
width = 3
area = length * width
perimeter = 2 * (length + width)

In [7]:
area

12

In [8]:
perimeter

14

In [9]:
print('Area = ', area)

Area =  12

### Guidelines for naming variables

Variable names should begin with a lowercase letter
If you define a constant use all uppercase letter for the name

That way you will know not to change their value in a program

Use meaningful, descriptive names: length, width, area rather than x, y, z

Don't make the names too long and use 'camel caps' to separate parts of a name. (passMark, maxMark)

Variable names are case-sensitive: NAMES is a diffrent variable name from names

## Augmented assignment operators

These operators provide a quick way of writing assignment statements

+=

In [11]:
score = 100
score = score + 1
score

101

In [12]:
score = 100
score += 1
score

101

-=

In [13]:
score = 100
score = score - 1
score

99

In [14]:
score = 100
score -= 1
score

99

*=

In [15]:
score = 100
score = score * 2
score

200

In [16]:
score = 100
score *= 2
score

200

/=

In [17]:
score = 100
score = score / 2
score

50.0

In [18]:
score = 100
score /= 2
score

50.0

%=

In [19]:
score = 100
score = score % 7
score

2

In [20]:
score = 100
score %= 7
score

2

//=

In [21]:
score = 100
score = score // 7
score

14

In [22]:
score = 100
score //= 7
score

14

## The print statement

Print statement is used ti display text and data on the screen

In [23]:
print('Helllo World!')

Helllo World!

### Using comma as a separator

You can use a comma to separate string or variables

In [28]:
length = 15
print("The length is", length, "metres")

The length is 15 metres

Using comma has the advantage that you do not have to worry about the variable type. You can mix integer, floating point numbers, and strings in the print statement.

However you can not control the spacing.

One space character is automatically insert between the output arguments of a printing statement.

In [29]:
cost = 15
print("The cost is", cost, "pounds")

The cost is 15 pounds

### Using + as a separator

Instead of using a comma, you can use a + sign to concatenate string in the output.

However, you cannot join a string to an integer or real number, so you first have to convert any numbers to string.

In [1]:
cost = 15
print("The cost is " + cost)

TypeError: can only concatenate str (not "int") to str

To convert a number to a string - you use the str() function.

In [2]:
cost = 15
print("The cost is " + str(cost))

The cost is 15

### Escape sequences

Escape sequences allow you to put special characters such as a newline or tab into your string.

### Inserting a new line

\n skip to a new line

In [3]:
print("\nHello")

Hello

In [4]:
print("\n\nGoodbye\n")

Goodbye

### Inserting a tab character

Assume  length = 4, width = 3 and area =12

In [6]:
length = 4
width = 3
area = 12

In [7]:
print("\t\tColumn1" + "\t\tColumn2" + "\t\tColumn3")

		Column1		Column2		Column3

In [8]:
print("\t\t", length, "\t\t", width, "\t\t", area)

		 4 		 3 		 12

### Printing two outputs on the same line

To avoid printing on a new line, add end = " " to the end of the print statement

In [9]:
print("This should all print", end=" ")
print("on the same line")

This should all print on the same line

### Writing a multi-line statement

If you do need to split a line within quote marks, type a backslash (\) at the end of the first line, press Enter and continue writing  on the next line.

In [ ]:
print("This is a long line of text \
split of the middle of the quote")

### Triple-quoted string

Enclosing a string in triple quotes(either single or double quotes) allow you to retain the formatting of the string, for example  if it extends over several lines.

In [11]:
print("""
John Smith
23 Elm Street
Andover
""")

John Smith
23 Elm Street
Andover

## The input statement

The input statement is used to accept input from the user, and assign the input to a variable on the left-hand side of an assignment statement. It can be used with or without in a prompt to tell the user what to do.

In [13]:
firstName = input("Please enter your first name: ")

Please enter your first name: Kate

In [14]:
print("Please, enter your surname: ")

Please, enter your surname:

In [15]:
surname = input()

Neff

In [16]:
print("Full name is", firstName, surname)

Full name is Kate Neff

### Mixing string and variables in an input statement

You can use the + sign to include a variable in an input statement

In [17]:
phoneNumber = input(firstName + ", " + "please enter \ your phone number: ")

Kate, please enter \ your phone number: 07576777879

You must remember to convert any numbers to string:

In [ ]:
q = 3
answer3 = input("Enter the answer to question " + str(q) + ": ")

# Exercises

1.
Write Python statements to display the results of the following calculations
10*6 + 5*3
10*(6+5)*3
the remainder when 33 is divided by 7

2. Write  statement to divide 6.7 by 3 and show the result to 3 decimal places

3. Choose suitabe variable names in the assignment statements below:

    3.1.Assign the value 25 to the highest score in a game

Choose suitabe variable names in the assignment statements below:
    
    3.2.Assign the name Davina to a player

Choose suitabe variable names in the assignment statements below:

    3.3 Assign the values 4.5 and 6 to the height and base of a triangle

3.4. Calculate and print the area of the triangle, using the formula 1/2(base * height)

4. Write statements using augmented assignment operators to do the following:

4.1. add 1  to counter

4.2.double a variable called house_price

4.3.subtract a variable called penalty from a variable called hits

4.4.divide total_cost by 3

5.1.Write  a statement to display "More pain, more gain"

5.2.Write a statement to display "That's true!"

5.3.Write a statement to concatenate two string "Pelham" and "123" and display the result.

5.4.What will be displayed when you enter the following on three lines.

In [ ]:
print("How will this",
     "statement",
     "be printed?")

6.1.Write statements to prompt a user to input their favorite food and favorite colour, and display this information in the format " My favourite food is XXXXX and my favourite colour is YYYY", using + symbols to concatenate the separate string.

6.2.Display the same information using the comma separator instead of + symbols.

7.1.Write statements to ask the user to enter their name and telephone number and then print this information on two separate lines, with a blank line in between.

7.2.Print the name and telephone number on the same line, separated by a tab character.

8.1.Write statement to: perform the integer division of 40 by 11

8.2.Write statement to: find the remainder when 40 is divided by 11

8.3.Write statement to: calculate 2^10

8.4.Write statement to: test whether "three" is greater than "two"

8.5.Write statement to:test whether "abc" is less than "ABC"

8.6.Write statement to:test whether (1<=4 and 7<=7) is True

8.7.Write statement to: find the result of the Boolean condition equivalent to: "Fred" not equal to "fred"